# ======= libraries =======
*.a filter=lfs diff=lfs merge=lfs -text
*.aar filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
*.bundle filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.dll.mdb filter=lfs diff=lfs merge=lfs -text
*.scraar filter=lfs diff=lfs merge=lfs -text
# ======= textures =======
*.hdr filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.xcf filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
# ======= 3d models =======
*.fbx filter=lfs diff=lfs merge=lfs -text
# ======= sounds =======
*.ogg filter=lfs diff=lfs merge=lfs -text
*.opus filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
# ======= video =======
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
*.mkv filter=lfs diff=lfs merge=lfs -text
# ======= fonts =======
*.ttf filter=lfs diff=lfs merge=lfs -text
*.otf filter=lfs diff=lfs merge=lfs -text
# ======= documents =======
*.pdf filter=lfs diff=lfs merge=lfs -text
# ======= Unity stuff =======
*NavMesh*.asset filter=lfs diff=lfs merge=lfs -text
# track all .ogg files in any directory $ git lfs track "*.ogg"
# track files named music.ogg in any directory $ git lfs track "music.ogg"
# track all files in the Assets directory and all subdirectories $ git lfs track "Assets/"
# track all files in the Assets directory but *not* subdirectories $ git lfs track "Assets/*"
# track all ogg files in Assets/Audio $ git lfs track "Assets/Audio/*.ogg"
# track all ogg files in any directory named Music $ git lfs track "**/Music/*.ogg"
# track png files containing "xxhdpi" in their name, in any directory $ git lfs track "*xxhdpi*.png
